<% include ../partials/header %>

<h2><%= campground.name %></h2>
<img style="width: 400px" src="<%=campground.image%>">
<p>Campground Description: <%= campground.description %></p>
<h4>Comments</h4>
<hr>
<a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add Comment</a>
<% campground.comments.forEach(function(comment){ %>
  <p><%= comment.text %> - <strong><%= comment.author %></strong></p>
<% }) %>
<a href="/campgrounds">Back To All Campgrounds</a>

<% include ../partials/footer %>
